In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('Hotel_details.csv')
df2 = pd.read_csv('Hotel_Room_attributes.csv')
df3 = pd.read_csv('hotel_price_min_max - Formula.csv')
df4 = pd.read_csv('hotels_RoomPrice.csv')

In [3]:
df1.head()

,id,hotelid,hotelname,address,city,country,zipcode,propertytype,starrating,latitude,longitude,Source,url,curr
0,46406,1771651,Mediteran Bungalow Galeb,Vukovarska 7,Omis,Croatia,21310.0,Holiday parks,4,43.440124,16.682505,2,https://www.booking.com/hotel/hr/bungalow-luxu...,EUR
1,46407,177167,Hotel Polonia,Plac Teatralny 5,Torun,Poland,NaN,Hotels,3,53.012329,18.603800,5,https://www.agoda.com/en-gb/hotel-polonia/hote...,EUR
2,46408,1771675,Rifugio Sass Bece,"Belvedere del Pordoi,1",Canazei,Italy,38032.0,Hotels,3,46.477920,11.813350,2,http://www.booking.com/hotel/it/rifugio-sass-b...,EUR
3,46409,177168,Madalena Hotel,Mykonos,Mykonos,Greece,84600.0,Hotels,3,37.452316,25.329849,5,https://www.agoda.com/en-gb/madalena-hotel/hot...,EUR
4,46410,1771718,Pension Morenfeld,Mair im Korn Strasse 2,Lagundo,Italy,39022.0,Hotels,3,46.682780,11.131736,2,http://www.booking.com/hotel/it/pension-morenf...,EUR

In [4]:
df1['url']

0         https://www.booking.com/hotel/hr/bungalow-luxu...
1         https://www.agoda.com/en-gb/hotel-polonia/hote...
2         http://www.booking.com/hotel/it/rifugio-sass-b...
3         https://www.agoda.com/en-gb/madalena-hotel/hot...
4         http://www.booking.com/hotel/it/pension-morenf...
                                ...
108043    http://www.booking.com/hotel/de/stadt-tuttling...
108044     http://www.booking.com/hotel/bg/beroe.en-gb.html
108045    http://www.booking.com/hotel/bg/rothmans-bansk...
108046    https://www.booking.com/hotel/bg/rainbow-4-bou...
108047    http://www.booking.com/hotel/bg/rainbow-2-caca...
Name: url, Length: 108048, dtype: object

In [5]:
df2.rename(columns = {'hotelcode':'hotelid'},inplace = True)

In [6]:
df_new = df2.merge(df1,on = 'hotelid')

In [7]:
df_new.head()

,id_x,hotelid,roomamenities,roomtype,ratedescription,id_y,hotelname,address,city,country,zipcode,propertytype,starrating,latitude,longitude,Source,url,curr
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,NaN,Hotels,4,51.150921,-3.158470,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP
1,50672149,8328096,Air conditioning: ;Closet: ;Fireplace: ;Free W...,Vacation Home,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",66727,Pantlleni,NaN,Beddgelert,United Kingdom,NaN,Hotels,3,53.042229,-4.033180,5,https://www.agoda.com/en-gb/pantlleni/hotel/be...,GBP
2,50643430,8323442,Air conditioning: ;Closet: ;Dishwasher: ;Firep...,Vacation Home,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",65369,Willow Cottage,NaN,Beverley,United Kingdom,NaN,Hotels,3,53.843220,-0.497970,5,https://www.agoda.com/en-gb/willow-cottage/hot...,GBP
3,50650317,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",60309,Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,NaN,Hotels,2,51.511234,-0.185117,5,https://www.agoda.com/en-gb/apollo-hotel-londo...,GBP
4,50650318,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",60309,Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,NaN,Hotels,2,51.511234,-0.185117,5,https://www.agoda.com/en-gb/apollo-hotel-londo...,GBP

In [8]:
df_new.shape

(181415, 18)

In [9]:
df_new.isna().sum()

id_x                   0
hotelid                0
roomamenities       5309
roomtype               0
ratedescription     5309
id_y                   0
hotelname              0
address              577
city                   0
country                0
zipcode            86703
propertytype           0
starrating             0
latitude               0
longitude              0
Source                 0
url                    0
curr                   0
dtype: int64

In [10]:
df_new.duplicated().sum()

0

In [11]:
df_new.drop(['zipcode'],axis = 1,inplace = True)

In [12]:
df_new.dropna(inplace = True)

In [13]:
df3.rename(columns  = {'hotelcode':'hotelid'},inplace = True)

In [14]:
pd.set_option('display.max_columns',30)

In [15]:
df4.head()

,id,refid,hotelcode,websitecode,dtcollected,ratedate,los,guests,roomtype,onsiterate,netrate,currency,ratedescription,ratetype,sourceurl,roomamenities,maxoccupancy,ispromo,closed,discount,promoname,status_code,taxstatus,taxtype,taxamount,proxyused,israteperstay,mealinclusiontype,hotelblock,input_dtcollected
0,50677497,8646773,634876,5,2019-10-12 15:46:54,2019-11-02,1,1,Double Room,82.36,87.84,USD,"Room size: 15 m²/161 ft², Shower, 1 king bed",Cancellation policy,https://www.agoda.com/en-gb/the-old-cider-hous...,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,1,Y,N,6.24,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.165.126:80,Y,Free Breakfast,NaN,2019-10-13
1,50672149,6234691,8328096,5,2019-10-12 15:47:45,2019-11-30,1,1,Vacation Home,636.09,0.00,USD,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",Cancellation policy,https://www.agoda.com/en-gb/pantlleni/hotel/be...,Air conditioning: ;Closet: ;Fireplace: ;Free W...,4,N,N,0.00,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.164.126:80,Y,NaN,NaN,2019-10-13
2,50643430,7015677,8323442,5,2019-10-12 15:47:00,2019-12-20,1,1,Vacation Home,591.74,0.00,USD,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",Extra low price! (non-refundable),https://www.agoda.com/en-gb/willow-cottage/hot...,Air conditioning: ;Closet: ;Dishwasher: ;Firep...,4,N,N,0.00,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.166.122:80,Y,NaN,NaN,2019-10-13
3,50650317,7327094,7975,5,2019-10-12 15:47:02,2019-12-28,1,1,Standard Triple Room,881.48,0.00,USD,"Room size: 20 m²/215 ft², Shower, 3 single beds",Extra low price! (non-refundable),https://www.agoda.com/en-gb/apollo-hotel-londo...,Air conditioning: ;Clothes rack: ;Coffee/tea m...,1,N,N,0.00,NaN,200,2,Tax 20%,0.0,media:M3diAproxy@209.242.219.141:80,Y,NaN,NaN,2019-10-13
4,50650318,7327094,7975,5,2019-10-12 15:47:02,2019-12-28,1,1,Standard Triple Room,897.53,0.00,USD,"Room size: 20 m²/215 ft², Shower, 3 single beds",Extra low price! (non-refundable),https://www.agoda.com/en-gb/apollo-hotel-londo...,Air conditioning: ;Clothes rack: ;Coffee/tea m...,3,N,N,0.00,NaN,200,2,VAT $ 179.51,0.0,media:M3diAproxy@209.242.219.141:80,Y,Free breakfast for {3},NaN,2019-10-13

In [16]:
df6 = df_new.merge(df3,on = 'hotelid')

In [17]:
df6.duplicated().sum()

0

In [18]:
df = df6

In [19]:
df.shape

(175544, 22)

In [20]:
df.drop(['id_y','latitude','longitude','Source','curr'],axis = 1,inplace = True)

In [21]:
df.rename(columns = {'id_x':'id'},inplace = True)

In [22]:
df.duplicated().sum()

0

In [23]:
indices = df[df['id'].duplicated()].index

In [24]:
df.drop(index = indices,inplace = True)

In [25]:
df['id'].duplicated().sum()

0

In [26]:
df.shape

(160438, 17)

In [27]:
df.duplicated().sum()

0

In [28]:
# Cleaning

In [29]:
def remove_whitespace(text):
   return  text.replace(' ','')

In [30]:
df['roomamenities'][0]

'Air conditioning: ;Alarm clock: ;Carpeting: ;Closet: ;Coffee/tea maker: ;Desk: ;DVD/CD player: ;Fan: ;Free Wi-Fi in all rooms!: ;Hair dryer: ;Heating: ;In-room safe box: ;Ironing facilities: ;Linens: ;Mini bar: ;Seating area: ;Toiletries: ;Towels: ;TV [flat screen]: ;'

In [31]:
df['roomamenities_tag'] = df['roomamenities'].apply(lambda x:x.replace(': ;',','))

In [32]:
df['roomamenities_tag'] = df['roomamenities_tag'].apply(remove_whitespace)

In [33]:
df['roomamenities_tag'] = df['roomamenities_tag'].apply(lambda x:x.split(','))

In [34]:
df['roomamenities_tag'][66071]

['Airconditioning',
 'FreeWi-Fiinallrooms!',
 'In-roomsafebox',
 'Shower',
 'TV',
 '']

In [35]:
df['roomtype']

0                  Double Room
1         Standard Triple Room
2         Standard Triple Room
3         Standard Triple Room
4           Deluxe Triple Room
                  ...
175539               Twin Room
175540               Twin Room
175541               Twin Room
175542           Twin Standard
175543         Double Standard
Name: roomtype, Length: 160438, dtype: object

In [36]:
df['roomtype_tag'] = df['roomtype'].apply(remove_whitespace)

In [37]:
df['roomtype_tag'] =  df['roomtype_tag'].apply(lambda x:[x])

In [38]:
df['roomtype_tag'][66071]

['DoubleStandard']

In [39]:
df['ratedescription']

0              Room size: 15 m²/161 ft², Shower, 1 king bed
1           Room size: 20 m²/215 ft², Shower, 3 single beds
2           Room size: 20 m²/215 ft², Shower, 3 single beds
3           Room size: 20 m²/215 ft², Shower, 3 single beds
4                     Shower, 1 single bed and 1 double bed
                                ...
175539    Room size: 17 m²/183 ft², Non-smoking, Shower,...
175540    Room size: 17 m²/183 ft², Non-smoking, Shower,...
175541    Room size: 17 m²/183 ft², Non-smoking, Shower,...
175542    Pay nothing until November 21, 2019, Free Wi-F...
175543    Pay nothing until November 21, 2019, Free Wi-F...
Name: ratedescription, Length: 160438, dtype: object

In [40]:
import re

def transform(text):
    return re.sub(r'Room size: \d+ m²/\d+ ft², ','',text)

In [41]:
df['ratedescription_tag'] = df['ratedescription'].apply(transform)

In [42]:
df['ratedescription_tag'] = df['ratedescription_tag'].apply(remove_whitespace)

In [43]:
df['ratedescription_tag'] = df['ratedescription_tag'].apply(lambda x:x.split(','))

In [44]:
df['address'].nunique()

8435

In [45]:
df['address_tag'] = df['address'].apply(remove_whitespace)

In [46]:
df['address_tag'] = df['address_tag'].apply(lambda x:x.split())

In [47]:
df['city_tag'] = df['city'].apply(remove_whitespace)

In [48]:
df['city_tag'] = df['city_tag'].apply(lambda x:x.split())

In [49]:
df['city_tag']

0                [NetherStowey]
1                      [London]
2                      [London]
3                      [London]
4                      [London]
                  ...
175539    [Newcastle-upon-Tyne]
175540    [Newcastle-upon-Tyne]
175541    [Newcastle-upon-Tyne]
175542    [Newcastle-upon-Tyne]
175543    [Newcastle-upon-Tyne]
Name: city_tag, Length: 160438, dtype: object

In [50]:
df['country_tag'] = df['country'].apply(remove_whitespace)

In [51]:
df['country_tag'] = df['country_tag'].apply(lambda x:x.split())

In [52]:
df['country_tag']

0         [UnitedKingdom]
1         [UnitedKingdom]
2         [UnitedKingdom]
3         [UnitedKingdom]
4         [UnitedKingdom]
               ...
175539    [UnitedKingdom]
175540    [UnitedKingdom]
175541    [UnitedKingdom]
175542    [UnitedKingdom]
175543    [UnitedKingdom]
Name: country_tag, Length: 160438, dtype: object

In [53]:
df['propertytype_tag'] = df['propertytype'].apply(remove_whitespace)

In [54]:
df['propertytype_tag'] = df['propertytype_tag'].apply(lambda x:x.split())

In [55]:
df.head()

,id,hotelid,roomamenities,roomtype,ratedescription,hotelname,address,city,country,propertytype,starrating,url,min,max,Diff_Min,Diff_Max,Score,roomamenities_tag,roomtype_tag,ratedescription_tag,address_tag,city_tag,country_tag,propertytype_tag
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,https://www.agoda.com/en-gb/the-old-cider-hous...,82.36,107.70,0.084,0.418,0.25,"[Airconditioning, Alarmclock, Carpeting, Close...",[DoubleRoom],"[Shower, 1kingbed]",[25CastleStreet],[NetherStowey],[UnitedKingdom],[Hotels]
1,50650317,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,https://www.agoda.com/en-gb/apollo-hotel-londo...,881.48,1055.92,7.540,2.821,5.18,"[Airconditioning, Clothesrack, Coffee/teamaker...",[StandardTripleRoom],"[Shower, 3singlebeds]",[64-66QueensboroughTerrace],[London],[UnitedKingdom],[Hotels]
2,50650318,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,https://www.agoda.com/en-gb/apollo-hotel-londo...,881.48,1055.92,7.540,2.821,5.18,"[Airconditioning, Clothesrack, Coffee/teamaker...",[StandardTripleRoom],"[Shower, 3singlebeds]",[64-66QueensboroughTerrace],[London],[UnitedKingdom],[Hotels]
3,50650319,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,https://www.agoda.com/en-gb/apollo-hotel-londo...,881.48,1055.92,7.540,2.821,5.18,"[Airconditioning, Clothesrack, Coffee/teamaker...",[StandardTripleRoom],"[Shower, 3singlebeds]",[64-66QueensboroughTerrace],[London],[UnitedKingdom],[Hotels]
4,50650320,7975,Air conditioning: ;Clothes rack: ;Heating: ;In...,Deluxe Triple Room,"Shower, 1 single bed and 1 double bed",Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,https://www.agoda.com/en-gb/apollo-hotel-londo...,881.48,1055.92,7.540,2.821,5.18,"[Airconditioning, Clothesrack, Heating, In-roo...",[DeluxeTripleRoom],"[Shower, 1singlebedand1doublebed]",[64-66QueensboroughTerrace],[London],[UnitedKingdom],[Hotels]

In [ ]:
# Creating tags for each room of the hotels as a list of keywords which will serve as the basis for the recommendation system

In [56]:
df['tags'] = df['roomamenities_tag'] + df['roomtype_tag'] + df['ratedescription_tag'] + df['address_tag'] + df['city_tag'] + df['country_tag'] + df['propertytype_tag']

In [57]:
df['tags'] = df['tags'].apply(lambda x:" ".join(x))

In [58]:
df_final = df[['hotelname','tags','starrating','roomtype','country','city','propertytype']]

In [59]:
df_final.duplicated().sum()

117114

In [60]:
df_final.drop_duplicates(inplace = True)

C:\Users\SAHIL\AppData\Local\Temp\ipykernel_3884\3496236793.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.drop_duplicates(inplace = True)

In [61]:
df_final.isna().sum()

hotelname       0
tags            0
starrating      0
roomtype        0
country         0
city            0
propertytype    0
dtype: int64

In [62]:
df_final.reset_index(inplace = True)

In [73]:
df_final.head(13)

,index,hotelname,tags,starrating,roomtype,country,city,propertytype
0,0,The Old Cider House,Airconditioning Alarmclock Carpeting Closet Co...,4,Double Room,United Kingdom,Nether Stowey,Hotels
1,1,Apollo Hotel London,Airconditioning Clothesrack Coffee/teamaker Da...,2,Standard Triple Room,United Kingdom,London,Hotels
2,4,Apollo Hotel London,Airconditioning Clothesrack Heating In-roomsaf...,2,Deluxe Triple Room,United Kingdom,London,Hotels
3,7,The Old Cider House,Airconditioning Alarmclock Carpeting Closet Co...,4,Deluxe Double Room with Shower,United Kingdom,Nether Stowey,Hotels
4,8,Hotel Rivoli,Airconditioning Closet Dailyhousekeeping Desk ...,3,Single Room,Germany,Munich,Hotels
5,10,Timhotel Tour Eiffel,Airconditioning Alarmclock Bathrobes Carpeting...,3,Comfort Single Room,France,Paris,Hotels
6,14,Timhotel Tour Eiffel,Airconditioning Alarmclock Bathrobes Carpeting...,3,Comfort Twin Room,France,Paris,Hotels
7,15,Hotel Rivoli,Airconditioning FreeWi-Fiinallrooms! In-roomsa...,3,Double Room,Germany,Munich,Hotels
8,16,AC Hotel Manchester Salford Quays,Airconditioning Closet Coffee/teamaker Desk Fr...,4,"Deluxe, Guest room, 1 Double",United Kingdom,Manchester,Hotels
9,17,Hotel Paris Villette,Airconditioning FreeWi-Fiinallrooms! In-roomsa...,3,full size bed (1 big bed),France,Paris,Hotels
10,19,Hotel Paris Villette,Airconditioning FreeWi-Fiinallrooms! In-roomsa...,3,Twin (2 beds),France,Paris,Hotels
11,21,Hotel Paris Villette,Airconditioning Closet Clothesrack Desk FreeWi...,3,Double Room For Single Or Double Occupancy,France,Paris,Hotels
12,24,AC Hotel Manchester Salford Quays,Airconditioning FreeWi-Fiinallrooms! In-roomsa...,4,Deluxe Twin Room,United Kingdom,Manchester,Hotels

In [64]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000)

In [65]:
from sklearn.metrics.pairwise import cosine_similarity

In [66]:
def recommend(type,country,city,property):
    
    ## filtering the dataframe to the requirements of the user
    filtered_df = df_final[
        (df_final['roomtype'] == type) &
        (df_final['country'] == country) &
        (df_final['city'] == city) &
        (df_final['propertytype'] == property)
    ]

    ## creating a temporary dataframe so that we recommend hotels only from the speicified country and city rather than using the entire df which
    ## could lead to results from different cities and countries
    temp = df_final[
        (df_final['country'] == country) &
        (df_final['city'] == city) 
    ]

    ## indices of the hotels of user requirements
    idx1 = filtered_df['index'].tolist()

    ## reseting index because we need to search for the indices in idx1 in temp
    temp.reset_index(inplace = True)

    ## extracting the index(of the dataframe) of the specified hotels 
    idx2 = temp[temp['index'].isin(idx1)].index.tolist()
    
    ## creating similarity matrix
    vector = tfidf.fit_transform(temp['tags']).toarray()
    similarity = cosine_similarity(vector)
    
    ## traverse each user specified hotel and extract top recommend hotels for each specified hotel
    for i in idx2:
        similar_hotels = sorted(list(enumerate(similarity[i])),key = lambda x:x[1],reverse = True)[0:5]
        for hotel in similar_hotels:
            print(tuple(temp.loc[hotel[0]][['hotelname','roomtype']]))

In [97]:
recommend('Comfort Single Room','Germany','Munich','Hotels')

('Hotel Mons am Goetheplatz', 'Comfort Single Room')
('Hotel Mons am Goetheplatz', 'Standard Single Room')
('Hotel Mons am Goetheplatz', 'Comfort Double Room')
('Hotel Mons am Goetheplatz', 'Single Room with Shared Bathroom')
('Hotel Mons am Goetheplatz', 'Standard Double Room')
('Hotel Freisinger Hof', 'Comfort Single Room')
('Hotel Freisinger Hof', 'Superior Single Room')
('Hotel Freisinger Hof', 'Classic Single Room - Annex')
('Hotel Freisinger Hof', 'Comfort Double Room')
('Hotel Freisinger Hof', 'Suite')
('Hotel am Schlosspark Zum Kurfurst', 'Comfort Single Room')
('Hotel am Schlosspark Zum Kurfurst', 'Superior Double Room')
('Hotel am Schlosspark Zum Kurfurst', 'Comfort Double Room')
('Hotel Freisinger Hof', 'Comfort Single Room')
('Hotel Freisinger Hof', 'Superior Single Room')